.foryellowpalt {
  border: 2px solid yellow;
}
.form-check-input.ylwclass:checked {
  background-color: yellow;
  border-color: yellow;
}
.btn-ccc {
  background: #ccc;
}

.btn-c13 {
  background:#C13100;
  color:#fff;
}